.filtering {
  overflow: auto;
  margin-top: 20px;
  max-height: 200px;
}

.playlist_editor {
  max-width: 600px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

.text_header {
  background: #ccc;
  font-weight: bold;
}
